/*AdminLTE*/
.main-header .logo-mini img,
.main-header .logo-mini img{
    max-height:35px;
}
.box .box-tools{
    display: flex;
    justify-content: space-between;
}
.box .box-tools .btn-box-tool{
    width:29px;
    height: 29px;
    text-align: center;
}
.info-box .info-box-icon{
    display: flex;
    justify-content:center;
    align-items: center
}
.control-sidebar .control-sidebar-menu{
    padding: 10px;
    margin:0 -10px -10px;
}
.control-sidebar .control-sidebar-menu > li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor:pointer;
    margin: 0 -10px;
    padding: 4px 10px;
}
.control-sidebar .control-sidebar-menu > li.overlay{
    position: absolute;
    top: 50px;
    right: 0;
    width: 240px;
    height: 40px;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-align: center;
    justify-content: center;
}
.control-sidebar .control-sidebar-menu > li:not(.overlay):hover{
    animation: all 0.3s ease-in-out;
    background:rgba(200,200,200,.3);
}
.control-sidebar .control-sidebar-menu > li > .menu-info{
    overflow: hidden;
    margin: 0 0 0 10px;
}
.control-sidebar .tab-content{
    padding: 10px
}
.navbar-custom-menu > .navbar-nav > li{
    min-width: 50px;
    border-left:1px solid rgba(0,0,0,.1);
    text-align: center;
}
.user-menu ul.dropdown-menu{
    right:0!important;
}
.control-sidebar .control-sidebar-heading{
    display: flex;
    align-content: center;
    justify-content: space-around;
    margin:0;
}
@media (max-width: 767px) {
    .info-box{
        margin-bottom:20px!important;
    }
}

/*bootstrap*/
tbody{ display: table; width: 100%}
.hidden.show{
    display: block!important;
}
.skin-green .sidebar-menu>li>a{
    border-left: none;
}
.badge{
    display: flex;
    justify-content: center;
    align-items: center;
}