/*design boost*/
html{
    background: url("../img/bgr.svg") center center;
    background-size:cover;
}
@-webkit-keyframes img-lazyload { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes img-lazyload { from { opacity:1; } to { opacity:0; } }
@-o-keyframes img-lazyload { from { opacity:1; } to { opacity:0; } }
@keyframes img-lazyload { from { opacity:1; } to { opacity:0; } }
/*design boost*/

/*modulo/loginPage*/
.sp-login-page{
    z-index:2;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}
.sp-login-page *{
    animation: all 0.2s ease-in-out;
}
.sp-login-page .sp-login-box{
    opacity:1!important;
    width: 300px;
    height: auto;
    display: block;
    padding: 15px;
}
.sp-login-box .logo{
    width: 100%;
    height: 100px;
    padding: 15px;
    text-align: center;
    position: relative;
}
.sp-login-box .logo img{
    height: 100%;
}
.sp-login-box .form-group label{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.sp-login-box .callback {
    display: none;
}
.sp-login-page .sp-login-footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    background: rgba(0,0,0,.2);
    color: #e9e9e9;        
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
}
/*modulo/loginPage*/

/*modulo/Home*/
.logo-lg img,
.logo-mini img{
    animation: 0.5s all ease-in-out;
    max-height: 35px;
}
.info-box{
    margin-bottom: 0;
}
.product-list-in-box>.item{
    padding: 0;
}
.item-chamado{
    padding: 10px 5px;
    display: block;
}
.item-chamado:hover{
    background: #f2f2f2;
}
.item-chamado label{
    color: #008749;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.item-chamado span{
    color: #777;
}

/*ui.bootstrap bugfix'es*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*ui.bootstrap bugfix'es*/

/*template bugfix'es*/
.content-wrapper{
    min-height:calc(100vh - 101px)
}
.navbar-nav > .user-menu > .dropdown-menu{
    width:auto;
    padding:0;
    box-shadow: 1px 1px 0 #ddd;
}
.navbar-nav > .user-menu > .dropdown-menu li{
    height:44px;
    line-height:44px;
    padding:0 10px;
}
.navbar-nav > .user-menu > .dropdown-menu li:hover{
    background-color: #ecf0f5;
}
.navbar-nav > .user-menu > .dropdown-menu li .fa{
    width:16px;
    text-align: center;
    margin-right: 7px;
}
.navbar-nav > .user-menu > .dropdown-toggle{
    max-width: 150px;
}
/*template bugfix'es*/
/*utility*/
.sp-text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*utility*/
#info-chamados a{
    display: block;
    color: #008749;
    font-weight: bold;
}

/*bootstrap upgrade*/
.table.table-fixed{
    table-layout: fixed;
    width:100%;
}
.table.table-fixed td.cover{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table.table-fixed tr:focus td.cover{
    white-space: normal;
}
@media (min-width: 480px) {.table td[sp-hide-xs]{ display:none}}
@media (min-width: 481px) and (max-width:768px) {.table td[sp-hide-sm]{ display:none}}
@media (min-width: 769px) and (max-width:992px) {.table td[sp-hide-md]{ display:none}}
@media (min-width: 993px) {.table td[sp-hide-lg]{ display:none}}
