/*design boost*/
html{
    background: url("../img/bgr.svg") center center;
    background-size:cover;
}
/*design boost*/

/*modulo/full-window*/
.full-window{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:50px;
}
.full-window *{
    animation: all 0.2s ease-in-out;
}

/*componente/usuario-login*/
.sp-usuario-login{
    opacity:1!important;
    width: 300px;
    height: auto;
    display: block;
    padding: 15px;
}
.sp-usuario-login .logo{
    width: 100%;
    height: 100px;
    padding: 15px;
    text-align: center;
    position: relative;
}
.sp-usuario-login .logo img{
    height: 100%;
}
.sp-usuario-login .form-group label{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.sp-usuario-login .callback {
    display: none;
}
/*componente/login-box*/
/*componente/login-box*/
.sp-fixed-footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    padding: 0 15px;
    background: rgba(0,0,0,.2);
    color: #e9e9e9;        
    opacity: 0.7;
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
}
/*modulo/loginPage*/

/*modulo/Home*/
.logo-lg img,
.logo-mini img{
    animation: 0.5s all ease-in-out;
    max-height: 35px;
}
.info-box{
    margin-bottom: 0;
}
.product-list-in-box>.item{
    padding: 0;
}
.item-chamado{
    padding: 10px 5px;
    display: block;
}
.item-chamado:hover{
    background: #f2f2f2;
}
.item-chamado label{
    color: #008749;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.item-chamado span{
    color: #777;
}

/*ui.bootstrap bugfix'es*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*ui.bootstrap bugfix'es*/

/*template bugfix'es*/
.content-wrapper{
    min-height:calc(100vh - 101px)
}
.navbar-nav > .user-menu > .dropdown-menu{
    width:auto;
    padding:0;
    box-shadow: 1px 1px 0 #ddd;
}
.navbar-nav > .user-menu > .dropdown-menu li{
    height:44px;
    line-height:44px;
    padding:0 10px;
}
.navbar-nav > .user-menu > .dropdown-menu li:hover{
    background-color: #ecf0f5;
}
.navbar-nav > .user-menu > .dropdown-menu li .fa{
    width:16px;
    text-align: center;
    margin-right: 7px;
}
.navbar-nav > .user-menu > .dropdown-toggle{
    max-width: 150px;
}
/*template bugfix'es*/
/*utility*/
.sp-text-overflow-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*utility*/
#info-chamados a{
    display: block;
    color: #008749;
    font-weight: bold;
}

/*bootstrap upgrade*/
.table.table-fixed{
    table-layout: fixed;
    width:100%;
}
.table.table-fixed td.cover{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table.table-fixed tr:focus td.cover{
    white-space: normal;
}
/*bootstrap upgrade*/

/*AdminLTE upgrade*/
.info-box .animate-icon i{
    transition: all .1s linear;
}
.info-box .animate-icon:hover i{
    transform: scale(1.2);
}
.info-box .overlay{
    left: 0;
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    color: #222d32;
    opacity: .5;
    font-size: 200%;
    top: 0;
    margin: 0 15px;
}
.main-sidebar > .sidebar > .sidebar-menu > li > a > .overlay{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.58);
    left: 0;
    top: 0;
    color: #fff;
}
/*AdminLTE upgrade*/

